<h1>Sing up or Login</h1>

<form action="/sessions" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 <label for="email">Email</label>
 <input type="email" id="email">


<button>Sign up or Login</button>
</form>
